span {
  background-color: white;
  padding: 1px;
  text-align: center;
}

p {
  font-size: larger;
  display: inline-block;
}

input {
  background-color: rgb(235, 235, 235);
  color: black;
  border-radius: 0;
  text-align: center;
}

button {
  border-radius: 10px;
  border: 1px solid black;
  vertical-align: middle;
}

.top_row {
  width: 840px;
  margin-bottom: 30px;
}

.top_left {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin-right: 25px;
}

.top_mid {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-right: 25px;
}

.top_right {
  background-color: white;
  display: inline-block;
  width: 300px;
}

.bottom_row {
  margin-top: 20px;
}

.bottom_part {
  background-color: lightgreen;
  display: inline-block;
  width: 30%;
  margin-right: 3%;
}

/* VITALITY */

.vitality {
}

.vitality {
  border: 1px solid black;
  vertical-align: middle;
  margin-bottom: 10px;
}

.vitality input {
  width: 90px;
  border: none;
  font-size: large;
  vertical-align: middle;
  border-right: 1px solid black;
}

.vitality span {
  width: 90px;
  border: none;
  font-size: large;
  vertical-align: middle;
  display: inline-block;
  border-right: 1px solid black;
}

.add_max_button {
  width: 40px;
  background-color: rgb(255, 225, 225);
}

/* STATS */

.stats {
}

.stat {
  border: 1px solid black;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 15px;
}

.stat_name {
  display: inline-block;
  width: 50%;
  height: 100%;
  border-right: 1px solid black;
  font-size: medium;
  vertical-align: middle;
  background-color: white;
}

.stat_max {
  display: inline-block;
  width: 20%;
  height: 100%;
  border-right: 1px solid black;
  font-size: medium;
  vertical-align: middle;
}

/* TALENTS */

.bottom_row {
  background-color: white;
  margin-top: 20px;
}

.talent_top {
  border: 1px solid black;
  vertical-align: middle;
  margin-bottom: 10px;
}

.talent_top h2 {
  display: inline-block;
  margin-left: 5px;
}

.talent_percent {
  float: right;
  margin-right: 10px;
}

.talent_percent span {
  display: inline-table;
  font-size: large;
  padding: 5px 0;
}

.talent_percent p {
  font-size: large;
}

.talent_rolling {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 0;
  padding-top: 3px;
}

.talent_rolling span {
  background-color: rgb(235, 235, 235);
}

.talent_plus {
  margin-left: 10px;
  display: inline-table;
  padding: auto;
  vertical-align: middle;
  background-color: rgb(255, 225, 225);
}

.talents_category {
  display: inline-block;
  background-color: white;
  width: 30%;
  margin-right: 2%;
}

.bottom_row th {
  font-size: medium;
}

.bottom_row td {
  border: 1px solid black;
}

.talent_short {
  width: 10%;
}

.talent_very_short {
  width: 5%;
}

.talent_long {
  width: 80%;
}

.talent_field {
  margin-bottom: 20px;
}

.talent_rank {
  display: block;
  margin: 0;
  height: 100%;
  font-size: medium;
  color: black;
}

.talent_name {
  background-color: rgb(235, 235, 235);
  color: black;
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  font-size: medium;
}

.talent_level {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  font-size: medium;
  background-color: rgb(225, 255, 225);
}

.talent_button {
  display: block;
  text-align: center;
  margin: 0;
  height: 100%;
  border: none;
  background-color: white;
  color: black;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* LEVEL */

.level_field {
  vertical-align: top;
  margin-bottom: 20px;
}

.xp_field {
  vertical-align: top;
  display: inline-block;
  width: 40%;
}

.xp {
  border: 1px solid black;
  vertical-align: middle;
}

.xp span {
  display: inline-block;
  width: 48%;
  border: none;
  font-size: large;
  vertical-align: middle;
  padding: 0;
}

.xp_field button {
  margin-top: 5px;
  background-color: rgb(225, 255, 225);
}

.level {
  border: 1px solid black;
  float: right;
  font-size: xx-large;
  width: 45px;
  height: 45px;
  padding: 0;
  vertical-align: middle;
  margin-right: 10px;
}

.session_number {
  float: right;
  font-size: medium;
  border-bottom: 1px solid black;
}

.resource_field {
  margin-top: 20px;
  display: inline-block;
}

.resource_field input {
  border: 1px solid black;
  border-radius: 0;
  font-size: large;
}

.tp {
  display: inline-block;
  margin-right: 25px;
}

.ad {
  display: inline-block;
  margin-right: 25px;
}

.sp {
  display: inline-block;
}

.tp input {
  background-color: rgb(225, 255, 225);
}

.ad input {
  background-color: rgb(255, 225, 225);
}

.sp input {
  background-color: rgb(225, 225, 255);
}

.begin_session {
  float: right;
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: medium;
  vertical-align: top;
  background-color: rgb(235, 235, 235);
}